<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Alumni Web Portal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Consulting Website Template Free Download" name="keywords">
    <meta content="Consulting Website Template Free Download" name="description">

    <!-- Favicon -->
    <link href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand"><img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/kpmg-logo.png" width="80" height="100"> </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="request_access.html" class="nav-item nav-link">Request Access</a>
                    <a href="login.html" class="nav-item nav-link">Login</a>
                    <a href="blog.html" class="nav-item nav-link">Blog</a>
                    <a href="event.html" class="nav-item nav-link">Event</a>


                </div>
            </div>

        </div>
    </div>
    <!-- Nav Bar End -->
    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/carousel-1.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Alumni Web Portal</h1>
                        <p>
                            Past Meets Present: Your Alumni Network, Your Future Success!
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/carousel-2.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Your Success Our Achievement</h1>
                        <p>
                            Bridging Alumni, Igniting Opportunities: Your Portal to Lifelong Connections!
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/carousel-3.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Alumni Network</h1>
                        <p>
                            Connect. Collaborate. Cultivate: Where Alumni Future Flourish!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Video Modal Start-->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
    <!-- Team Start -->
    <div class="team">
        <div class="container">
            <div class="section-header">
                <h2>Notable Alumnae</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/team-1.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Donald John</h2>
                            <p>Ex CEO</p>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/team-2.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Adam Phillips</h2>
                            <p>Ex Chef Executive</p>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/team-3.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Thomas Olsen</h2>
                            <p>Ex Chef Advisor</p>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>James Alien</h2>
                            <p>Ex Advisor</p>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a href="request_access.html">Request Access</a>
                                <a href="login.html">Login</a>
                                <a href="event.html">Events</a>
                                <a href="blog.html">Blogs</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">KPMG</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By: <a href="https://htmlcodex.com">Monika | Shreya</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <main id="main">
        @RenderBody()
    </main>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/easing/easing.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/js/main.js"></script>
</body>
</html>
