<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Web Portal</title>
    <meta name="keywords" content="Consulting Website Template Free Download">
    <meta name="description" content="Consulting Website Template Free Download">

    <!-- Favicon -->
    <link rel="icon" href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <link rel="stylesheet" href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/animate/animate.min.css">
    <link rel="stylesheet" href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/owlcarousel/assets/owl.carousel.min.css">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/css/style.css">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/kpmg-logo.png" width="80" height="100"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="index.html">Home</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="RequestAccess">Request Access</a>
                    <a class="nav-item nav-link" href="login.html">Login</a>
                    <a class="nav-item nav-link" href="blog.html">Blog</a>
                    <a class="nav-item nav-link" href="event.html">Event</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navigation Bar -->
    <!-- Carousel -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/carousel-1.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Alumni Web Portal</h1>
                        <p>Past Meets Present: Your Alumni Network, Your Future Success!</p>
                    </div>
                </div>
                <!-- Add other carousel items here -->
            </div>
        </div>
    </div>
    <!-- End Carousel -->
    <!-- Video Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Video Modal -->
    <!-- Team Section -->
    <div class="team">
        <div class="container">
            <div class="section-header">
                <h2>Notable Alumnae</h2>
            </div>
            <div class="row">
                <!-- Add team member cards here -->
            </div>
        </div>
    </div>
    <!-- End Team Section -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a href="request_access.html">Request Access</a>
                                <a href="login.html">Login</a>
                                <a href="event.html">Events</a>
                                <a href="blog.html">Blogs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">KPMG</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By: <a href="https://htmlcodex.com">Monika | Shreya</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <main id="main">
        @RenderBody()
    </main>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/easing/easing.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/js/main.js"></script>
</body>
</html>
