<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Web Portal</title>
    <meta name="keywords" content="Consulting Website Template Free Download">
    <meta name="description" content="Consulting Website Template Free Download">

    <!-- Favicon -->
    <link rel="icon" href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <link rel="stylesheet" href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/animate/animate.min.css">
    <link rel="stylesheet" href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/owlcarousel/assets/owl.carousel.min.css">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/css/style.css">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/img/kpmg-logo.png" width="80" height="100"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="RequestAccess">Request Access</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Login" >Login</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Event">Event</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navigation Bar -->
   
    <!-- End Footer -->
    <main id="main">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a asp-area="" asp-controller="Home" asp-action="RequestAccess">Request Access</a>
                                <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                <a asp-area="" asp-controller="Home" asp-action="Blog">Events</a>
                                <a asp-area="" asp-controller="Home" asp-action="Event">Blogs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">KPMG</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By: <a href="https://htmlcodex.com">Monika | Shreya</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/easing/easing.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/consulting-website-template-20240202T054525Z-001/consulting-website-template/js/main.js"></script>
</body>
</html>
