<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Confer - Consulting Website Template Free Download</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Consulting Website Template Free Download" name="keywords">
        <meta content="Consulting Website Template Free Download" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body class="page">
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="far fa-clock"></i>
                                <h2>8:00 - 9:00</h2>
                                <p>Mon - Fri</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <h2>+123 456 7890</h2>
                                <p>For Appointment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">KPMG</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="index.html" class="nav-item nav-link">Home</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="service.html" class="nav-item nav-link">Service</a>
                        <a href="feature.html" class="nav-item nav-link">Feature</a>
                        <a href="advisor.html" class="nav-item nav-link">Advisor</a>
                        <a href="review.html" class="nav-item nav-link">Review</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="blog.html" class="dropdown-item">Blog Page</a>
                                <a href="single.html" class="dropdown-item">Single Page</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link active">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        
        
        <!-- Contact Start -->
        <div class="contact mt-125">
            <div class="container">
                <div class="section-header">
                    <p>Get In Touch</p>
                    <h3>Requesting access to the KPMG in Canada Alumni Web Portal is easy! Simply fill out the form below and click “Send.” Fields in red are mandatory. Please note that, in order for us to process your request and send you a user ID and password, you will need to provide at least one email address.</h3>
                </div>
                <div class="row align-items-center">
                   
                    <div class="col-md-7">
                        <div class="contact-form">
                            <div id="success"></div>


                            <form action="alumni1/alumni" method="post">

                                <label for="title">Title:</label>
                                <input type="text" id="title" name="title" placeholder="Enter Title" required>
                                <br /><br />
                        
                                <label for="firstName">First Name:</label>
                                <input type="text" id="firstName" name="firstName" placeholder="Enter First Name" required>
                                <br /><br />
                        
                                <label for="lastName">Last Name:</label>
                                <input type="text" id="lastName" name="lastName" placeholder="Enter Last Name" required>
                                <br /><br />
                        
                                <label for="otherLastName">Other Last Name:</label>
                                <input type="text" id="otherLastName" name="otherLastName" placeholder="Enter Other Last Name">
                                <br /><br />
                        
                                <label for="year">Year:</label>
                                <select id="year" name="year" placeholder="Select Year">
                                    <option value="" disabled selected>Select Year</option>
                                    <!-- Populate the years dynamically using JavaScript or server-side logic -->
                                    @for (int year = DateTime.Now.Year; year >= DateTime.Now.Year - 80; year--)
                                    {
                                            <option value="@year">@year</option>
                                    }
                                </select>
                                <br /><br />
                        
                                <label for="professionalDesignation">Professional Designation:</label>
                                <input type="text" id="professionalDesignation" name="professionalDesignation" placeholder="professionalDesignation">
                                <br /><br />
                        
                                <h3>Business Details</h3>
                                <label for="currentTitle">Current Title:</label>
                                <input type="text" id="currentTitle" name="currentTitle" placeholder="Enter Current Title">
                                <br /><br />
                        
                                <label for="phone">Phone:</label>
                                <input type="tel" id="phone" name="phone" placeholder="Enter Phone" required>
                                <br /><br />
                        
                                <label for="extension">Extension:</label>
                                <input type="text" id="extension" name="extension" placeholder="Enter Extension">
                                <br /><br />
                        
                                <label for="company">Company:</label>
                                <input type="text" id="company" name="company" placeholder="Enter Company" required>
                                <br /><br />
                        
                                <label for="building">Building:</label>
                                <input type="text" id="building" name="building" placeholder="Enter Building">
                                <br /><br />
                        
                                <label for="number">Number:</label>
                                <input type="text" id="number" name="number" placeholder="Enter Number">
                                <br /><br />
                        
                                <label for="street">Street:</label>
                                <input type="text" id="street" name="street" placeholder="Enter Street">
                                <br /><br />
                        
                                <label for="city">City:</label>
                                <input type="text" id="city" name="city" placeholder="Enter City">
                                <br /><br />
                        
                                <label for="country">Country:</label>
                                <input type="text" id="country" name="country" placeholder="Select Country">
                                <br /><br />
                        
                                <label for="state">State:</label>
                                <input type="text" id="state" name="state" placeholder="Select State">
                                <br /><br />
                        
                                <label for="postalCode">Postal Code:</label>
                                <input type="text" id="postalCode" name="postalCode" placeholder="Enter Postal Code">
                                <br /><br />
                        
                                <h3>Employee Details</h3>
                                <label for="commencementYear">Commencement Year:</label>
                                <select id="commencementYear" name="commencementYear" placeholder="Start Year">
                                    <option value="" disabled selected>Select Commencement Year</option>
                                    <!-- Populate the years dynamically using JavaScript or server-side logic -->
                                    @for (int year = DateTime.Now.Year; year >= DateTime.Now.Year - 20; year--)
                                    {
                                            <option value="@year">@year</option>
                                    }
                                </select>
                                <br /><br />
                        
                                <label for="leaveYear">Leave Year:</label>
                                <select id="leaveYear" name="leaveYear" placeholder="Departure Year">
                                    <option value="" disabled selected>Select Leave Year</option>
                                    <!-- Populate the years dynamically using JavaScript or server-side logic -->
                                    @for (int year = DateTime.Now.Year; year >= DateTime.Now.Year - 20; year--)
                                    {
                                            <option value="@year">@year</option>
                                    }
                                </select>
                                <br /><br />
                        
                                <label for="kpmgOffice">KPMG Office:</label>
                                <input type="text" id="kpmgOffice" name="kpmgOffice" placeholder="Select Office">
                                <br /><br />
                        
                                <h3>Personal Details</h3>
                        
                                <label for="city">City:</label>
                                <input type="text" id="city" name="city" placeholder="Enter City">
                                <br /><br />
                        
                                <label for="country">Country:</label>
                                <input type="text" id="country" name="country" placeholder="Select Country">
                                <br /><br />
                        
                                <label for="state">State:</label>
                                <input type="text" id="state" name="state" placeholder="Select State">
                                <br /><br />
                        
                                <label for="phone">Phone:</label>
                                <input type="tel" id="phone" name="phone" placeholder="Enter Phone" required>
                                <br /><br />
                        
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" placeholder="Enter Email" required>
                                <br /><br />
                        
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Our Head Office</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                    <p><i class="fa fa-envelope"></i>info@example.com</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <h2>Quick Links</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <p>
                                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                            </p>
                            <div class="form">
                                <input class="form-control" placeholder="Email goes here">
                                <button class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
